body {
  font-family: "Sedan SC", roboto;
  color: #3d3d3d;
}

video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  height: 280px;
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.videoView {
  position: absolute;
  min-height: 467px;
  top: 12px;
  left: 440px;
}

.videoView p {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  margin: 0;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.output_canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.output {
  display: none;
  width: 45%;
  font-size: 24px;
}

.power-cooldown {
  position: absolute;
  top: 24px;
  left: 24px;
}

.attack-cooldown {
  position: absolute;
  top: 24px;
  left: 76px;
}

.jump-cooldown {
  position: absolute;
  top: 24px;
  left: 128px;
}

.jump-cooldown img,
.attack-cooldown img,
.power-cooldown img {
  margin-left: 18px;
  position: absolute;
  top: -12px;
}

/* Timer from here */
/* Sets the containers height and width */
.base-timer {
  position: absolute;
  top: 24px;
  left: 16px;
  height: 36px;
  width: 36px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 18px;
  stroke: rgb(121, 121, 121);
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 10px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 100ms linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: rgb(212, 0, 0);
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

#powers {
  visibility: hidden;
}

#game-over {
  position: absolute;
  top: 300px;
  left: 300px;
  visibility: hidden;
}

#game-over button {
  font-family: "Sedan SC", roboto;
  font-size: 24px;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff2424, #00ff73);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(8px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
